<mat-toolbar color="primary" style="position:sticky; top:0; z-index: 999">
  <span style="display: flex; flex-grow: 1;">Ngx-Progress-Overlay</span>
</mat-toolbar>

<div class="container"> 

  <br><br>

  <div class="align-center">
    A simple donut progress bar with full screen overlay.
  </div>

  <br><br>

  <div class="align-center">
    <button mat-raised-button color="accent" (click)="test()">Start Loader</button>
  </div>

  <h4>Installation</h4>

  <pre class="code">{{code.installation}}</pre>

  <h4>Usage</h4>

  <div>Import `NgxProgressOverlayModule` in the root module (`AppModule`) :</div>
  <pre class="code">{{code.usage.step1}}</pre>
  <div>Add `NgxProgressOverlayService` service in your component : </div>
  <pre class="code">{{code.usage.step2}}</pre>
  <div>Finally, use NgxProgressOverlayComponent in your template</div>
  <pre class="code">{{code.usage.step3}}</pre>

  <br>

  <div class="align-center">
    <a matTooltip="Github" target="_blank" href="https://github.com/monkeyscript/ngx-progress-overlay">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>

  <br><br>

</div>

<ngx-progress-overlay></ngx-progress-overlay>